/.idea
/.terraform
**/.terraform
**/.tfstate
**/.DS_Store
env_vars.sh
/env_vars.sh
/staging/.terraform
/automation/.terraform
staging/api_gw/blacklist/.terraform
staging/api_gw/blacklist/errored.tfstate
staging/api_gw/client/.terraform
staging/api_gw/client_test/.terraform
staging/api_gw/parameters/.terraform
#state must be stored in a remote backend
staging/backend-state/.terraform*
staging/backend-state/*.tfstate
staging/backend-state/*.tfstate.backup
staging/4_data/*.tfvars

.terraform
*.tfstate
*.tfstate.backup



**/.terraform/
**/node_modules/
